<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/brand.ico">

    <title>jI // Behavioral Research</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>



  <body>

    <!-- Fixed navbar -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color:#f0f0f0;">

      <div class="container">
        <img class="float-left" src="../static/branding-02.png" alt="Branding" width="50" height="50">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./index.html#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./index.html#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./index.html#process">Process</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./resume.html"><b>About & Resume</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./index.html#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



  <div class="container">

      <!-- My Name Is Jonathan-->
      <div class="jumbotron" style="background-color:#d9d9d9;">
        <div class="container-fluid">
          <h2>Behavioral Research</h2><br>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <img class="img" src="../static/img/research-main.png" alt="..." style="width:100%">
            </div>
            <div class="col-sm-6 col-md-8 col-lg-9">
              <h4>Overview</h4>
                <p class="lead">
              While <a href="./design.html" style="color:#6d6d6d"><i>design</i></a> is my primary tool for bringing ideas to life, behavioral research is my primary mechanism for understanding what to design. It is for that reason that I not only continuously explore new quantitative and qualitative techniques, but also take on various side projects so that I can better understand human behavior. Here are a few examples of the research projects I have explored in the past.
            </p>
            </div>
          </div>
        </div>
      </div>



      <section id="work">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h3>Areas of Research:</h3>

            </p><br>

                  <div class="container-fluid">
                    <h5>Design Psychology</h5>
                    <div class="row">

                          <div class="card col-lg-5" data-toggle="modal" data-target="#Behavior1Modal">
                              <img class="card-img2" src="../static/img/behavior-1.png" alt="..." style="width:100%">
                          </div>

                      <div class="col-lg-7">
                        <p class="lead">I’m fascinated by how digital and physical design is percieved by our senses and impacts our emotions and behavior. I’m particularly interested in how unobtrusive design elements can be leveraged to modify emotions. For example, one of my first studies explored how subtle texture and material changes could lead to increased objective and subjective measures of relaxation.</p>
                      </div>
                    </div>
                  </div>

                  <br><br>

                  <div class="container-fluid">
                    <h5>Spatial Navigation & Decision-Making</h5>
                    <div class="row">

                      <div  class="card col-lg-5 order-lg-12" data-toggle="modal" data-target="#Behavior2Modal">
                         <img class="card-img2" src="../static/img/behavior-2.png" alt="..." style="width:100%">
                     </div>

                      <div class="col-lg-7 order-lg-1">
                        <p class="lead">I study how environmental stimuli impact wayfinding and decision-making. This research has been very enjoyable as it has enabled me to learn about how to best utlize a variety of sensors to study both what is going on inside an individuals' heads as well as track how they they move through space.</p>
                      </div>
                    </div>
                  </div>

                  <br><br>

                  <div class="container-fluid">
                    <h5>Mobility Consumer Research</h5>
                    <div class="row">

                          <div class="card col-lg-5" data-toggle="modal" data-target="#Behavior3Modal">
                              <img class="card-img2" src="../static/img/behavior-3.png" alt="..." style="width:100%">
                          </div>

                      <div class="col-lg-7">
                        <p class="lead">My graduate work largely focused on learning qualitative and quantitative research methods to study how consumers of mobility services made decisions about the offerings that they they utilized. This work has since been extended to my broader <a href="./mobility.html" style="color:#6d6d6d"><i>mobility research</i></a> work.</p>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
        </div>
      </section>

      <section id="projects">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h2>Projects</h2>
              <p class="lead">
                For a taste of what I’ve been working on in my career, tap one of the following projects.
              </p>
              <div class="cards">



                            <a href="./air.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/airlab-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                  AIR lab
                                </div>
                              </div>
                            </a>

                            <a href="./bandwagon.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/bandwagon-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                  Bandwagon
                                </div>
                              </div>
                            </a>

                            <a href="./opendata.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/opendata-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                  Data Democratization
                                </div>
                              </div>
                            </a>

                            <a href="./mobility.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/mobility-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                  Mobility Research
                                </div>
                              </div>
                            </a>


                            <a href="./design.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/design-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                  Design Research
                                </div>
                              </div>
                            </a>

                            <div class="card img-fluid" style="width:200px">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/research-main.png" alt="..." style="width:100%;opacity:0.05">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;color:black;">
                                  Behavioral Research
                                </div>
                              </div>
                            </div>

                            <a href="./consulting.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/consulting-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                  Consulting
                                </div>
                              </div>
                            </a>

                            <a href="./art.html" class="card img-fluid" style="width:200px;color:black">
                              <div class="shadow">
                                <img class="card-img" src="../static/img/art-main.png" alt="..." style="width:100%">
                                <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Art
                              </div>
                            </div>
                          </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal 1-->
      <div class="modal fade" id="Behavior1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Design Psychology</h5>
            </div>
            <div class="modal-body">
              <img src="../static/img/behavior-1.png" alt="..." style="width:100%">
              <p class="lead">This study explored how to utilize digital fabrication to systematically modify fractal dimensions and materials to study the relationship between texture, material, and invoked emotional responses.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 1-->
      <div class="modal fade" id="Behavior2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Spatial Navigation & Decision-Making</h5>
            </div>
            <div class="modal-body">
              <img src="../static/img/behavior-2.png" alt="..." style="width:100%">
              <p class="lead">This study explored how to utilize a variety of location tracking technologies to investigate the relationship between indoor movement patterns and lighting.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal 1-->
      <div class="modal fade" id="Behavior3Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mobility Consumer Research</h5>
            </div>
            <div class="modal-body">
              <img src="../static/img/behavior-3.png" alt="..." style="width:100%">
              <p class="lead">This study explored how cluster analysis could be used to segment user groups based on travel behavior.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/js/vendor/jquery/jquery.min.js"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="../static/js/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom JavaScript for this theme -->
<script src="../static/js/scrolling-nav.js"></script>
</body>
</html>
