<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/brand.ico">

    <title>jI // Services & Process</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/vendor/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!-- Fixed navbar -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color:#f0f0f0;">

      <div class="container">
        <img class="float-left" src="../static/branding-02.png" alt="Branding" width="50" height="50">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#process">Process</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="./resume.html"><b>About & Resume</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="container">



      <!-- My Name Is Jonathan-->
      <div class="jumbotron" style="background-color:#d9d9d9;">
        <h2>Jonathan Internicola</h2>
        <p>
          I’m here to
          <i>
          help you...
          <b
           class="txt-rotate"
           data-rotate='[
           "build data-driven products!",
           "better understand your users!",
           "develop new concepts!",
           "deliver human-centric services!",
           "scale your team!",
           "try something new!",
           "streamline your operation!",
           "make something awesome!"
           ]'
          >
        </b>
        </i>
        </p>
      </div>

      <section id="projects">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h2>Projects</h2>
              <p class="lead">
                For a taste of what I’ve been working on in my career, tap one of the following projects.
              </p>
              <div class="cards">

                          <a href="./air.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/airlab-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                AIR lab
                              </div>
                            </div>
                          </a>

                          <a href="./bandwagon.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/bandwagon-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Bandwagon
                              </div>
                            </div>
                          </a>

                          <a href="./opendata.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/opendata-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Data Democratization
                              </div>
                            </div>
                          </a>

                          <a href="./mobility.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/mobility-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Mobility Research
                              </div>
                            </div>
                          </a>


                          <a href="./design.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/design-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Design Research
                              </div>
                            </div>
                          </a>

                          <a href="./behavior.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/research-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Behavioral Research
                              </div>
                            </div>
                          </a>

                          <a href="./consulting.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/consulting-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Consulting
                              </div>
                            </div>
                          </a>



                          <a href="./art.html" class="card img-fluid" style="width:200px;color:black">
                            <div class="shadow">
                              <img class="card-img" src="../static/img/art-main.png" alt="..." style="width:100%">
                              <div class="card-img-overlay align-items-center d-flex justify-content-center" style="font-size:1.3vw;">
                                Art
                              </div>
                            </div>
                          </a>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="services"  class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h2>Services</h2>
              <p class="lead">
                Here are some of the specific services I can help you with:
              </p><br>

              <div class="d-flex">
                <div class="p-3">
                  <svg class="bi bi-bar-chart-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <rect width="4" height="5" x="1" y="10" rx="1"/>
                    <rect width="4" height="9" x="6" y="6" rx="1"/>
                    <rect width="4" height="14" x="11" y="1" rx="1"/>
                  </svg>
                </div>
                <div class="p-6 mr-auto ">
                  <h6>Research-Driven Product Development</h6>
                  <p class="lead"><i>Understanding your users and helping you address their needs with innovative offerings is my core service.</i> I work with you to achieve this by using data to drive everything. Whether you want to better understand who your users are, project the relative impact of a feature, or run a pilot to test something new, I can help you find the right research strategy to build something that your customers truly love.</p>
                </div>
              </div><br>

              <div class="d-flex">
                <div class="p-3">
                  <svg class="bi bi-people-fill" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                  </svg>
                </div>
                <div class="p-6 mr-auto ">
                  <h6>Putting Humans At The Center of Your Business</h6>
                  <p class="lead">The humans behind your business — both those that consume and produce your offerings — are absolutely vital to your sustainability. Whether you need help shifting to a human-centric perspective, figuring out the right staffing model, or managing your existing resources, I can help you.</p>
                </div>
              </div><br>

              <div class="d-flex">
                <div class="p-3">
                  <svg class="bi bi-tools" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z"/>
                    <path fill-rule="evenodd" d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z"/>
                  </svg>
                </div>
                <div class="p-6 mr-auto ">
                  <h6>Implementating Your Vision</h6>
                  <p class="lead">No matter where you are in your journey, I can help you reach the next stage. Whether you need help developing your business model, designing the perfect presentation to obtain funding, or working with developers to make your dream a  reality, I can help you.</p>
                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

      <section id="process">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h2>Process</h2>
              <p class="lead">
                <i>Dream big, test small, scale incrementally, learn, improve.</i> My process is largely influenced by the founding principles of agile and human-centered design. Here are the core pillars of my process:
              </p><br>

              <div class="container-fluid">
                <h6>Think Holistic and Human-Centered</h6><br>
                <div class="row">
                  <div class="col-lg-3">
                    <img class="img" src="../static/img/style-1.png" alt="..." style="width:100%">
                  </div>
                  <div class="col-lg-9">
                    <p class="lead">Deeply understand the needs of all stakeholders impacted by your system. Only when you understand the needs of not just your users, but also your staff as well as others impacted farther downstream, will you be able to implement a sustainable solution.</p>
                  </div>
                </div>
              </div>

              <br><br>

              <div class="container-fluid">
                <h6>Always Test Before Implementing</h6><br>
                <div class="row">
                  <div class="col-lg-3 order-lg-12">
                    <img class="img" src="../static/img/style-3.png" alt="..." style="width:100%">
                  </div>
                  <div class="col-lg-9 order-lg-1">
                    <p class="lead">Implementation is expensive regardless of the medium. Before implementing, always use cost effective pilots and prototypes to gauge feedback before scaling.</p>
                  </div>
                </div>
              </div>

              <br><br>

              <div class="container-fluid">
                <h6>Dream, Test, Scale, Evaluate, <i>Repeat!</i></h6><br>
                <div class="row">
                  <div class="col-lg-3">
                    <img class="img" src="../static/img/style-2.png" alt="..." style="width:100%">
                  </div>
                  <div class="col-lg-9">
                    <p class="lead"> Dream big, but implement small. When you are ready to implement something new, break a small piece off and test it before implmenting. Once you think you have it right, scale it. Finally, test it. Understand if it did what you thought it would. If not, learn from it and use that to inform your next delivery. This approach will ensure costs and waste are kept to an absolute minimum.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h2>About</h2>
              <p class="lead">
                Interested? Want to know more about who I am and my journey? Check out the <a href="./resume.html#about" style="color:#6d6d6d"><i>What I do</i></a> and <a href="./resume.html#about" style="color:#6d6d6d"><i>Background</i></a> sections on my <a href="./resume.html#about" style="color:#6d6d6d"><i>about and resume page</i></a>!
              </p>

            </div>
          </div>
        </div>
      </section>


      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-11 mx-auto">
              <h2>Contact</h2>
              <p class="lead text-center">
                <svg class="bi bi-envelope-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg> <a href="mailto:hello@hello.com?subject=This%20is%20a%20subject&body=This%20is%20body%20text" style="color:#212529">hello@jintern.io</a>

              </p>

            </div>
          </div>
        </div>
      </section>






    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/vendor/jquery/jquery.min.js"></script>
    <script src="../static/js/vendor/bootstrap.min.js"></script>
    <!-- typewriter effect -->
    <script src="../static/js/typewriter.js"></script>
    <!-- Plugin JavaScript -->
    <script src="../static/js/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom JavaScript for this theme -->
    <script src="../static/js/scrolling-nav.js"></script>
  </body>
</html>
